*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url('../image/landing.jpg');
    background-size: contain;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

.bottom_title{
    position: absolute;
    bottom: 100px;
    left: 492px;
    text-align: center;
    margin: auto;
    font-size: 90px;
    line-height: 120px;
    letter-spacing: 5px;
    background-color: darkslategrey;
    color: white;
    padding-left: 10px;
    padding-right: 5px;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}