*{
    margin: 0;
    padding: 0;
}


.container{
    background: url('../image/landing.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    height: 100vh;
    left: 50vw;
}

h1.text{
    text-align: left;
    margin: auto;
    font-size: 8vw;
    line-height: 120px;
    letter-spacing: 5px;
    color: whitesmoke;
    padding-top: 72vh;
    padding-left: 6vw;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    animation: blink 2s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@font-face {
    font-family: "odibee";
    src: url(../fonts/OdibeeSans-Regular.ttf);
    white-space: nowrap;
    overflow: hidden;
}

.intro {
    font-family: odibee;
    text-align: left;
    font-size: 20px;
    position: relative;
    bottom: 45vh;
    left: 50vw;
    animation: type 12s steps(93);
    overflow: hidden;
    white-space: nowrap;
    width: 93ch;
}

.listings {
    display: block;
    font-family: odibee;
    text-align: left;
    font-size: 20px;
    position: relative;
    bottom: 40vh;
    left: 65vw;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 93ch;
    }
}